<strong>Module:</strong>        Escola &raquo;
<strong>Controller:</strong>    Escola &raquo;
<strong>Action:</strong>    	values
 
 <table class="table">
 <tr>
     <th>Value</th>
 </tr>
 <?php foreach ($values as $value) : ?>
 <tr>
     <td><?php echo $this->escapeHtml($value);?></td>
 </tr>
 <?php endforeach; ?>
 </table>
